doctype html
html(lang='en')

    head
        //  meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/assets/thirdparty/github-markdown-css/github-markdown.css')
        script(src='/assets/thirdparty/jquery-2.2.0.min/index.js')
        script(src='/assets/thirdparty/underscore/underscore.js')

        block head

        block title

    body(class='markdown-body')

        block content
    

